<html>

<body>
    <form method="POST" action="/new">
        <h1>New Message</h1>
        <div class="inputContainer">
            <div class="formGroup">
                <label for="author_name">Name</label>
                <input type="text" id="author_name" name="author_name">
            </div>
            <div class="formGroup">
                <label for="message_text">Message</label>
                <input type="text" id="message_text" name="message_text" required>
            </div>
        </div>
        <button type="submit">Add Message</button>
    </form>
</body>

</html>